<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Untree.co">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">


	<meta name="description"
		content="Rasik D Chitroda is a leading furniture manufacturing company in India using modern technology and advanced machines to create world-class chairs, benches, sofas, tables, and modern furniture.">
	<meta name="keywords"
		content="furniture manufacturer in India, Rasik D Chitroda furniture, modern furniture, sofas, chairs, benches, tables, custom furniture design">


	<!-- Bootstrap CSS -->
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/tiny-slider.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

	<title>{% block title%}RASIK D CHITRODA{% endblock %}</title>
</head>

<body>

		<!-- Contact Info Section -->




	<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

		<div class="container-fluid">
			<a class="navbar-brand" href="{{ url_for('home') }}">RASIK D CHITRODA<span>.</span></a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
				aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsFurni">
				<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
					<li class="nav-item {% if active_page == 'index' %}active{% endif %}">
						<a class="nav-link" href="/">Home</a>
					</li>
					<li class="nav-item {% if active_page == 'product' %}active{% endif %}">
						<a class="nav-link" href="/product">Products</a>
					</li>
					<li class="nav-item {% if active_page == 'about' %}active{% endif %}">
						<a class="nav-link" href="/about">About us</a>
					</li>
					<li class="nav-item {% if active_page == 'contact' %}active{% endif %}">
						<a class="nav-link" href="/contact">Contact us</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#catalogue">Catalogue</a>
					</li>
				</ul>
			</div>
		</div>

	</nav>


<div style=" color: #f9bf29; border-bottom: 2px solid #3b5d50; " class="py-1">
    <div class="container d-flex justify-content-center gap-3">
			<div>
				<i class="bi bi-envelope-fill"></i>
				<a href="mailto:rasikdchitroda@gmail.com"
					class="text-dark fw-bold text-decoration-none">rasikdchitroda@gmail.com</a>
			</div>
			<div>
				<i class="bi bi-telephone-fill"></i>
				<a href="tel:+919662015548" class="text-dark fw-bold text-decoration-none">+91 9662015548</a>
			</div>
		</div>
	</div>



	<div>
		{% block content %}
		{% endblock %}

	</div>




	<footer class="footer-section">
		<div class="container relative">

			<div class="sofa-img">
				<img src="{{ url_for('static', filename='images/sofa.png') }}" alt="Image" class="img-fluid">
			</div>

			<div class="row">
				<div class="col-lg-8">
					<div class="subscription-form" id="catalogue">
						<h3 class="d-flex align-items-center"><span class="me-1"> <img
									src="{{ url_for('static', filename='images/envelope-outline.svg') }}" alt="Image"
									class="img-fluid"></span><span>Download Catalogue</span></h3>

						<form method="post" action="{{ url_for('catalogue') }}" class="row g-3">
							<div class="col-auto">
								<input name="phone" type="text" class="form-control"
									placeholder="Enter your Mobile number" maxlength="10" pattern="[0-9]{10}"
									inputmode="numeric" oninput="this.value = this.value.replace(/[^0-9]/g, '');"
									title="Please enter a 10-digit mobile number" required>
							</div>
							<div class="col-auto">
								<input type="email" name="email" class="form-control" placeholder="Enter your email"
									required>
							</div>
							<div class="col-auto">
								<button class="btn btn-primary" type="submit">
									<span class="fa fa-download"></span>
								</button>
							</div>
						</form>



					</div>
				</div>
			</div>

			<div class="row g-5 mb-5">
				<div class="col-lg-4">
					<div class="mb-4 footer-logo-wrap"><a href="/" class="footer-logo">RASIK D
							CHITRODA<span>.</span></a></div>
					<p class="mb-4">Rasik D Chitroda is a leading furniture manufacturing company in India.
						We specialize in chairs, benches, sofas, tables, and modern furniture.
						Using modern technology and skilled craftsmanship, we deliver world-class products.
						Our mission is to provide stylish, durable, and sustainable furniture for every space.</p>

					<ul class="list-unstyled custom-social">
						<li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
						<li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
						<li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
						<li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
					</ul>
				</div>

				<div class="col-lg-8">
					<div class="row links-wrap">
						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a href="/about">About us</a></li>
								<li><a href="/contact">Contact us</a></li>
							</ul>
						</div>

						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">

								<li><a href="/#project">Our Projects</a></li>

								<li><a href="#">Privacy Policy</a></li>
							</ul>
						</div>

						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a class="footer-category-link" data-category="Sofa">Sofa</a></li>
								<li><a class="footer-category-link" data-category="Chairs">Chair</a></li>
								<li><a class="footer-category-link" data-category="Bench">Bench</a></li>
								<li><a class="footer-category-link" data-category="Tables">Table</a></li>
								<li><a class="footer-category-link" data-category="Bed">Bed</a></li>
							</ul>
						</div>
					</div>
				</div>

			</div>

			<div class="border-top copyright">
				<div class="row pt-4">
					<div class="col-lg-6">
						<p class="mb-2 text-center text-lg-start">Copyright &copy;
							<script>document.write(new Date().getFullYear());</script>. All Rights Reserved.
					</div>
					<div class="col-lg-6 text-center text-lg-end">
						<ul class="list-unstyled d-inline-flex ms-auto">
							<li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
							<li><a href="#">Privacy Policy</a></li>
						</ul>
					</div>

				</div>
			</div>

		</div>
	</footer>


	<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/tiny-slider.js') }}"></script>
	<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
	<script src="{{ url_for('static', filename='js/gallery.js') }}"></script>
	<script src="{{ url_for('static', filename='js/products.js') }}"></script>
</body>